[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.5"
django-autoslug = "*"
django-autoslug-field = "*"
pillow = "*"
django-ckeditor = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.8"
